.logoWrapper {
  position: absolute;
  top: 3.4rem;
  left: 50%;
  transform: translateX(-50%);

  z-index: 10;
}

.logoWrapper img {
  width: 14.5rem;
}

@media (max-width: 900px) {
  .logoWrapper {
    top: 2.3rem;
  }

  .logoWrapper img {
    width: 8rem;
  }
}
