.slide {
  width: 100vw;
  min-height: 100vh;

  position: sticky;
  top: 0;

  background-position: center;
  background-size: cover;

  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
}

.solutionSlide {
  color: black;
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.backgroundWrapper {
  background-color: rgba(0, 0, 0, 0.6);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contentWrapper {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slideAtl .contentWrapper {
  max-width: 78rem;
  align-items: flex-start;
  gap: 4rem;

  padding: 2rem;
}

.videoWrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.videoWrapper video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title {
  font-size: 9.6rem;
  line-height: 94%;

  text-align: center;
  max-width: 90rem;
  font-weight: 200;
  margin-bottom: 2.6rem;
}

.text {
  font-size: 2rem;

  text-align: center;
  max-width: 60rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.16);
  padding: 3.2rem;
  max-width: 78.1rem;
  width: 100%;
  border-radius: 0.6rem;

  display: flex;
  gap: 1.4rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:nth-child(2) {
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
}

.cardTitle {
  font-size: 3.2rem;
  font-weight: 200;
}

.slideAtl .cardTitle {
  margin-bottom: 1.5rem;
}

.cardText {
  font-size: 1.6rem;
}

@media (max-width: 900px) {
  .slideAtl .contentWrapper {
    gap: 3.2rem;
  }

  .title {
    font-size: 6.7rem;

    max-width: 60rem;
    margin-bottom: 1.8rem;
  }

  .text,
  .cardText {
    font-size: 16px;

    max-width: 42.1rem;
  }

  .card {
    max-width: 80%;
    gap: 0.8rem;
    padding: 2.4rem;
  }

  .cardTitle {
    font-size: 2rem;
    line-height: 100%;
  }

  .card:nth-child(2) {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }

  .cardText {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .slideAtl .contentWrapper {
    gap: 2.6rem;
  }

  .slide {
    border-radius: 0px !important;
    transform: translate(0) !important;
  }

  .title {
    font-size: 4.4rem;

    max-width: 40rem;
  }

  .text {
    font-size: 16px;

    max-width: 33.3rem;
  }

  .card {
    max-width: 90%;

    padding: 2rem 1.6rem;
  }

  .cardTitle {
    font-size: 2rem;
  }

  .card:nth-child(2) {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .cardText {
    max-width: 100%;
  }
}
