.slide {
  width: 100vw;

  position: sticky;
  top: 0;

  background-position: center;
  background-size: cover;

  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
}

.backgroundWrapper {
  background-color: rgba(0, 0, 0, 0.6);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contentWrapper {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videoWrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.videoWrapper video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title {
  font-size: 9.6rem;
  line-height: 94%;

  text-align: center;
  max-width: 90rem;
  font-weight: 200;
  margin-bottom: 2.6rem;
}

.text {
  font-size: 2rem;

  text-align: center;
  max-width: 60rem;
}

@media (max-width: 900px) {
  .title {
    font-size: 6.7rem;

    max-width: 60rem;
    margin-bottom: 1.8rem;
  }

  .text {
    font-size: 16px;

    max-width: 42.1rem;
  }
}

@media (max-width: 600px) {
  .slide {
    border-radius: 0px !important;
    transform: translate(0) !important;
  }

  .title {
    font-size: 4.4rem;

    max-width: 40rem;
  }

  .text {
    font-size: 16px;

    max-width: 33.3rem;
  }
}
